<!DOCTYPE html>
<html>
  <head>
    <title>WordsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <a href="/home/about">暗記アプリ1</a>
        </div>
        <ul class="header-right">
          <% if @current_user %>
            <li>
              <%= @current_user.name %>
            </li>
            <li>
              <%= link_to("単語リスト一覧", "/home/top") %>
            </li>
            <li>
              <%= link_to("ログアウト", "/logout", {method: :post}) %>
            </li>
          <% else %>
            <li>
              <%= link_to("新規登録", "/signup") %>
            </li>
            <li>
              <%= link_to("ログイン", "/login") %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
